@import url(http://fonts.googleapis.com/css?family=Lato:100,300);

body{
  font-family: 'Lato', sans-serif !important;
}

@media (max-width: 640px){
  body{
    width: 100% !important;
    height: 100% !important;
    background-color: #313131 !important;
  }
  #messagesDiv{
    width: 100% !important;
    height: 250px !important;
    background-color: white !important;
  /*  border: 1px solid black;*/
    /*display: block;*/
    position: relative;
    bottom: 2px !important;
  /*  background: lightgrey;*/
  /*  border-radius: 4px;*/
  /*  box-shadow: 0px 0px 5px black;*/
    /*border: 1px solid #313131;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin-top: 0px !important;
  /*  padding-top: 10px;*/
    margin-bottom: 0px !important;
    /*overflow: scroll;*/
  }

  .inputs{
    width: 100% !important;
  }


  .mainTitle{
    width: 100% !important;
    /*height: 50px !important;*/
    display: block;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    text-align: center;
    background: #313131;
    color: white;
    padding: 10px !important;
    width: 100% !important;
  }

  #clearButton{
    /*position: relative;*/
    list-style-type: none;
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    bottom: 0px !important;
    width: 100% !important;
    height: 80px !important;
    color: #313131;
    background: white;
    border: 1px solid #313131;
  }

  #enterButton{
    position: relative;
    display: block;
    margin-top: 0 !important;
    margin-right: 0 !important;
    left: 0px !important;
    height: 80px !important;
    width: 100% !important;
    color: #313131;
    background: white;
    border: 1px solid #313131;
    bottom: 2px !important;
    /*border-radius: 150px !important;*/
  }

  #nameInput{
    border: 1px solid #313131 !important;
    position: relative;
    /*list-style-type: none;*/
    width: 100% !important;
    height: 50px !important;
    display: block !important;
    bottom: 0px !important;
    left: 0px !important;
    margin-bottom: 14px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0px !important;
    margin-bottom: 2px !important;
  }

  #messageInput{
    border: 1px solid #313131 !important;
    position: relative;
    /*list-style-type: none;*/
    display: block;
    margin-bottom: 4px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    top: 0px !important;
    height: 50px !important;
    width: 100% !important;
    left: 0px !important;
    bottom: 0px !important;
  }


}

.mainTitle{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #313131;
  color: white;
  padding: 10px;
  width: 340px;
}

#messagesDiv{
  width: 340px;
  height: 420px;
/*  border: 1px solid black;*/
  display: block;
  position: relative;
  bottom: 11px;
/*  background: lightgrey;*/
/*  border-radius: 4px;*/
/*  box-shadow: 0px 0px 5px black;*/
  border: 1px solid #313131;
  margin-left: auto;
  margin-right: auto;
/*  margin-top: 30px;*/
/*  padding-top: 10px;*/
  margin-bottom: 10px;
  overflow: scroll;
}



.messages{
  background: #6600ff;
  color: white;
  padding: 3px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px !important;
/*  border-radius: 5px;*/
  font-family: 'Lato', sans-serif !important;
  text-decoration: none;
}

#nameInput{
  position: relative;
  list-style-type: none;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  bottom: 19px;
  right: 120px;
}


#messageInput{
  position: relative;
  list-style-type: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  bottom: 45px;
  left: 10px;
}

#enterButton{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 26px;
  bottom: 71px;
  left: 130px;
  width: 80px;
  color: #313131;
  background: white;
  border: 1px solid #313131;
}

#enterButton:active{
  background: #6600ff;
  border: 1px solid #6600ff;
  color: white !important;
}
#enterButton:hover{
  border: 1px solid #6600ff;
  color: #6600ff;
}




#clearButton{
  position: relative;
  list-style-type: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  bottom: 69px;
  width: 340px;
  color: #313131;
  background: white;
  border: 1px solid #313131;
}

#clearButton:active{
  background: #6600ff;
  border: 1px solid #6600ff;
  color: white !important;
}

#clearButton:hover{
  border: 1px solid #6600ff;
  color: #6600ff;
}
/*
.inputs{
  border: 1px solid #313131;
  margin: 0 auto;
  align: center;
}/*
